.nav-callout {
  display: none;
  color: $white;
  @include font-family;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3em;
  padding-left: 15px;
  @include breakpoint(portrait) {
    display: block;
  }
}

.top-bar {
  margin: 93px 0 20px 20px;
  background: transparent;
  @include breakpoint(portrait) {
     margin: 0 0 20px 0;
     background: $brand-blue;
  }
}

.top-bar ul>li.divider {
  background: $brand-brown;
  width: 1px;
  height: 8px;
  margin: 19px 7px;
  &:first-child {
    display: none;
  }
  @include breakpoint(portrait) {
    display: none;
  }
}

.top-bar ul>li a:not(.button) {
  color: $brand-blue;
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  @include breakpoint(portrait) {
     color: white;
  }
}

.top-bar ul>li:not(.name):hover a, .top-bar ul>li:not(.name).active a, .top-bar ul>li:not(.name):focus a {
  color: $brand-blue;
  @include breakpoint(portrait) {
     color: white;
  }
}

/*hover on nav item with dropdown*/
.top-bar ul>li.has-dropdown:not(.name):hover a {
  @include breakpoint(portrait) {
     margin-bottom: 0;
  }
}

.top-bar ul>li.has-dropdown a:after {
  display: none;
}

.top-bar ul:not(.dropdown)>li.has-dropdown:not(.name):not(.toggle-topbar):hover {
  background: $brand-gray;
  padding-bottom: 20px;
  @include breakpoint(portrait) {
     background: darken($brand-blue, 5);
  }
}

.top-bar ul>li:not(.name):hover,
.top-bar ul>li:not(.name).active,
.top-bar ul>li:not(.name):focus {
  background: $brand-gray;
}


/*top level subnav dropdown*/
.top-bar ul>li.has-dropdown .dropdown {
  background: transparent;
  margin-top: 20px;
  li {
    background: rgba($brand-blue, .7);
    padding-bottom: 0px;
    &:nth-child(2) {
      padding-top: 15px;
    }
    &:last-child {
      padding-bottom: 0px;
    }
    .has-dropdown {
      &:hover {
        padding-bottom: 0px;
      }
    }
    a {
      padding: 10px;
      font-weight: 600;
      &:hover {
        background: lighten($brand-blue, 5);
      }
    }
  }
}

.top-bar ul>li.has-dropdown .dropdown li.active a {
background: transparent;
&:hover {
  background: lighten($brand-blue, 5);
}
}

.top-bar ul>li.has-dropdown .dropdown li.active>a {
  background: lighten($brand-blue, 5);
}

/*2nd level subnav dropdown*/
.top-bar ul>li.has-dropdown ul>li.has-dropdown:hover>.dropdown {
  margin-top: 0;
  padding-top: 0;
  li:nth-child(2) {
    padding-top: 0;
  }
}

/*Mobile Menu - .expanded*/
.top-bar ul>li.toggle-topbar:hover {
  background: transparent;
}

/*caret disapear fix, but this keeps it visible on subnav*/
.top-bar ul>li.toggle-topbar {
  z-index: 9999;

}

.top-bar.expanded ul>li:not(.name):not(.toggle-topbar):hover, .top-bar.expanded ul>li:not(.name):not(.toggle-topbar).active, .top-bar.expanded ul>li:not(.name):not(.toggle-topbar):focus {
  background: darken($brand-blue, 5);
  padding-bottom: 0;
}

.top-bar.expanded ul:not(.dropdown)>li.has-dropdown:not(.name):not(.toggle-topbar):hover {
padding-bottom: 0px;
}

.top-bar.expanded ul>li.has-dropdown.moved>.dropdown li a:hover {
  background: darken($brand-blue, 5);
}

.top-bar.expanded ul>li.has-dropdown .dropdown {
  background: transparent;
  margin-top: 0px;
  li {
    background: rgba($brand-blue, .7);
    padding-bottom: 0px;
    &:nth-child(2) {
      padding-top: 0px;
    }
  }
}

.top-bar.expanded ul>li.has-dropdown .dropdown li.active>a {
  background: darken($brand-blue, 5);
}
